<h1>Search!</h1>

<nav class="users_search">

  <form class="users_search_form">
    <input type="text" id="users_searchbar" name="name" value="">
    <input type="submit" id="users_searchbar_button" value="Search Users!">
  </form>

  <ul class="users">

  </ul>

</nav>
